.welcome-area-bg-right {
    width: 100%;
    background-repeat: no-repeat;
    background-position: right top;
}

.welcome-area-bg-left {
    width: 100%;
    background-repeat: no-repeat;
    background-position: left top;
}

.destination-airlines {
    position: absolute;
    top: 5%;
    left: 5%;
}

.destination-title {
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.destination-arrow-right {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.background {
    background-color: rgba(255, 255, 255, 0.41);
}

.destination-bg {
    visibility: visible;
}

.destination-bg-mobile {
    visibility: hidden;
    position: absolute;
}

.top-destination {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.mobile-arrow-left {
    position: absolute;
    top: 80%;
    left: 10%;
    transform: translateX(-10%);
}

.mobile-content-center {
    position: absolute;
    top: 30%;
    left: 33%;
    transform: translateX(-33%);
}

.mobile-arrow-right {
    position: absolute;
    top: 80%;
    right: 10%;
    transform: translateX(-10%);
}

@media (max-width: 640px) {
    .welcome-area-bg-right {
        height: 100%;
        background-image: url("../../public/tenpost/bg-right-mobile.png");
        margin-top: -18%;
    }

    .welcome-area-bg-left {
        height: 100%;
        background-image: url("../../public/tenpost/bg-left-mobile.png");
        margin-top: -157%;
    }

    .content {
        margin-top: -100%;
    }

    .destination-bg {
        visibility: hidden;
        position: absolute;
    }

    .destination-bg-mobile {
        visibility: visible;
        position: relative;
    }

    .mobile-arrow-left {
        position: absolute;
        top: 45%;
        left: 10%;
        transform: translateX(-10%);
    }

    .mobile-content-center {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
    }

    .mobile-arrow-right {
        position: absolute;
        top: 45%;
        right: 10%;
        transform: translateX(-10%);
    }

    .not-mobile {
        visibility: hidden;
        position: absolute;
    }
}

@media (min-width: 768px) {
    .welcome-area-bg-right {
        height: 35%;
        background-image: url("../../public/tenpost/bg-right-mobile.png");
        margin-top: -12%;
    }

    .welcome-area-bg-left {
        height: 35%;
        background-image: url("../../public/tenpost/bg-left-mobile.png");
        margin-top: -30%;
    }

    .destination-arrow-right {
        position: absolute;
        bottom: 5%;
        right: 12%;
    }

    .mobile-content-center {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
    }

    .not-mobile {
        visibility: hidden;
        position: absolute;
    }
}

@media (min-width: 1024px) {
    .welcome-area-bg-right {
        height: 50%;
        background-image: url("../../public/tenpost/bg-right.png");
        margin-top: -9%;
    }

    .welcome-area-bg-left {
        height: 50%;
        background-image: url("../../public/tenpost/bg-left.png");
        margin-top: -54%;
    }

    .destination-arrow-right {
        position: absolute;
        bottom: 5%;
        right: 12%;
    }

    .mobile-content-center {
        position: absolute;
        top: 30%;
        left: 25%;
        transform: translateX(-25%);
    }

    .not-mobile {
        visibility: visible;
        position: relative;
    }
}

@media (min-width: 1280px) {
    .welcome-area-bg-right {
        height: 100%;
        background-image: url("../../public/tenpost/bg-right.png");
        margin-top: -6%;
    }

    .welcome-area-bg-left {
        height: 100%;
        background-image: url("../../public/tenpost/bg-left.png");
        margin-top: -45%;
    }

    .destination-arrow-right {
        position: absolute;
        bottom: 5%;
        right: 5%;
    }

    .mobile-content-center {
        position: absolute;
        top: 30%;
        left: 33%;
        transform: translateX(-33%);
    }

    .not-mobile {
        visibility: visible;
        position: relative;
    }
}